q{ 

  background-color: red;

  padding-top:35px; 

  padding-left:135px; 

  padding-right:135px; 

  padding-bottom:35px; 

  margin-top:500px; 

  margin-left:550px; 

  margin-right:500px; 

  margin-bottom:500px;   

}